parameters:
  database_driver: <%= (@database[:adapter] || 'pdo_mysql' ).to_s.inspect %>
  database_name: <%= @database[:database].to_s.inspect %>
  database_encoding: <%= (@database[:encoding] || 'utf8').to_s.inspect %>
  database_host: <%= (@database[:host] || 'localhost').to_s.inspect %>
  database_user: <%= @database[:username].to_s.inspect %>
  database_password: <%= @database[:password].to_s.inspect %>
  database_reconnect: <%= @database[:reconnect] ? 'true' : 'false' %>
  database_port: <%= @database[:port].to_i.inspect %>
  mailer_transport: smtp
  mailer_host: 127.0.0.1
  mailer_user: null
  mailer_password: null
  locale: en
  secret: ThisTokenIsNotSoSecretChangeIt
  